SESSION_SECRET=secret
NEXTAUTH_URL=http://localhost:3000

# 1. Go to strava.com/settings/api
# 2. Fill in the form:
# Application Name: Heatmap (or anything)
# Category: Visualizer
# Club: leave blank
# Website: localhost:3000 (for now)
# Authorization Callback Domain: localhost
# 3. Hit Create and you'll get a Client ID and Client Secret

STRAVA_CLIENT_ID=client_id
STRAVA_CLIENT_SECRET=client_secret